# ETL Pipeline Preparation
ETL for loading, cleaning, and saving **Figure Eight / Udacity** provided Disaster Repronse Message training dataset.

### 1. Load Data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import sqlite3

In [381]:
# load messages dataset
messages = pd.read_csv('../data/disaster_messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [382]:
# load categories dataset
categories = pd.read_csv('../data/disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [383]:
# merge datasets
df = messages.merge(categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [384]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [385]:
# select the first row of the categories dataframe
row = categories.loc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.str[:-2].values
print(category_colnames)

['related' 'request' 'offer' 'aid_related' 'medical_help'
 'medical_products' 'search_and_rescue' 'security' 'military'
 'child_alone' 'water' 'food' 'shelter' 'clothing' 'money'
 'missing_people' 'refugees' 'death' 'other_aid' 'infrastructure_related'
 'transport' 'buildings' 'electricity' 'tools' 'hospitals' 'shops'
 'aid_centers' 'other_infrastructure' 'weather_related' 'floods' 'storm'
 'fire' 'earthquake' 'cold' 'other_weather' 'direct_report']

In [386]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [387]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [388]:
# drop the original categories column from `df`
df.drop(columns='categories', inplace=True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [389]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Verify data integrity

In [390]:
# replace for empty messages
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [391]:
# missing values
df.isna().sum()

id                            0
message                       2
original                  16140
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64

In [392]:
# drop `original` column
df.drop(columns='original', inplace=True)

In [393]:
# Examine missing message entries
df[df.message.isna()]

,id,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
12293,14315,NaN,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12330,14428,NaN,direct,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [394]:
# Drop missing values and verify
df.dropna(inplace=True)
df.isna().sum().sum()

0

In [395]:
# Examine duplicates
df[df.duplicated(subset='message', keep=False)]

,id,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
162,202,?? port au prince ?? and food. they need gover...,direct,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163,202,?? port au prince ?? and food. they need gover...,direct,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,202,?? port au prince ?? and food. they need gover...,direct,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,202,?? port au prince ?? and food. they need gover...,direct,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
657,804,elle est vraiment malade et a besoin d'aide. u...,direct,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25292,29022,"In a field in Jallouzai, just inside Pakistan,...",news,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25377,29119,Most victims (90 per cent) show little or no s...,news,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25378,29119,Most victims (90 per cent) show little or no s...,news,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25379,29119,Most victims (90 per cent) show little or no s...,news,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25380,29119,Most victims (90 per cent) show little or no s...,news,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [370]:
df.drop_duplicates(subset='message', inplace=True)

In [371]:
df.duplicated(subset='message').sum()

0

In [372]:
df.duplicated().sum()

0

In [373]:
df[df.message=='#NAME?']

,id,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
16657,19448,#NAME?,news,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [374]:
df['message'] = np.where(df.message=='#NAME?', np.nan, df.message)
df.dropna(inplace=True)

In [375]:
df.isna().sum().sum()

0

In [376]:
df[df.message=='#NAME?']

Empty DataFrame
Columns: [id, message, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 39 columns]

In [377]:
# value distributions
df.loc[:, 'related':].apply(pd.Series.value_counts).T

                              0        1      2
related                  6114.0  19873.0  187.0
request                 21710.0   4464.0    NaN
offer                   26057.0    117.0    NaN
aid_related             15334.0  10840.0    NaN
medical_help            24094.0   2080.0    NaN
medical_products        24864.0   1310.0    NaN
search_and_rescue       25450.0    724.0    NaN
security                25703.0    471.0    NaN
military                25315.0    859.0    NaN
child_alone             26174.0      NaN    NaN
water                   24505.0   1669.0    NaN
food                    23257.0   2917.0    NaN
shelter                 23866.0   2308.0    NaN
clothing                25770.0    404.0    NaN
money                   25571.0    603.0    NaN
missing_people          25876.0    298.0    NaN
refugees                25300.0    874.0    NaN
death                   24982.0   1192.0    NaN
other_aid               22733.0   3441.0    NaN
infrastructure_related  24469.0   1705.0    NaN
transport               24975.0   1199.0    NaN
buildings               24843.0   1331.0    NaN
electricity             25642.0    532.0    NaN
tools                   26015.0    159.0    NaN
hospitals               25891.0    283.0    NaN
shops                   26054.0    120.0    NaN
aid_centers             25865.0    309.0    NaN
other_infrastructure    25023.0   1151.0    NaN
weather_related         18888.0   7286.0    NaN
floods                  24025.0   2149.0    NaN
storm                   23734.0   2440.0    NaN
fire                    25892.0    282.0    NaN
earthquake              23722.0   2452.0    NaN
cold                    25646.0    528.0    NaN
other_weather           24798.0   1376.0    NaN
direct_report           21111.0   5063.0    NaN

In [378]:
cats = df.loc[:, 'related':]
df.loc[:, 'related':] = np.where(cats > 1, 1, cats)

In [379]:
df.loc[:, 'related':].apply(pd.Series.value_counts).T

                              0        1
related                  6114.0  20060.0
request                 21710.0   4464.0
offer                   26057.0    117.0
aid_related             15334.0  10840.0
medical_help            24094.0   2080.0
medical_products        24864.0   1310.0
search_and_rescue       25450.0    724.0
security                25703.0    471.0
military                25315.0    859.0
child_alone             26174.0      NaN
water                   24505.0   1669.0
food                    23257.0   2917.0
shelter                 23866.0   2308.0
clothing                25770.0    404.0
money                   25571.0    603.0
missing_people          25876.0    298.0
refugees                25300.0    874.0
death                   24982.0   1192.0
other_aid               22733.0   3441.0
infrastructure_related  24469.0   1705.0
transport               24975.0   1199.0
buildings               24843.0   1331.0
electricity             25642.0    532.0
tools                   26015.0    159.0
hospitals               25891.0    283.0
shops                   26054.0    120.0
aid_centers             25865.0    309.0
other_infrastructure    25023.0   1151.0
weather_related         18888.0   7286.0
floods                  24025.0   2149.0
storm                   23734.0   2440.0
fire                    25892.0    282.0
earthquake              23722.0   2452.0
cold                    25646.0    528.0
other_weather           24798.0   1376.0
direct_report           21111.0   5063.0

### 7. Save the clean dataset into an SQLite database.

In [380]:
# create database connection using sqlite3
conn = sqlite3.connect('../data/DisasterResponse.db')
cur = conn.cursor()
# drop message table if it already exists -- override old data
cur.execute('DROP TABLE IF EXISTS message')
# save to database
df.to_sql('message', conn, index=False)

### 8. Summary
- Load messages.csv and categories.csv into pandas frames
- Merge **`messages`** and **`categories`** into **`df`** on `id`
- Parse *`categories`* column:
  - Split semicolon delimited list of categories into individual columns
  - Rename new columns with category names found in first row: related-1;fire-0; --> related | fire
  - Replace 'category-value' strings with integer values only. Example: related-1 --> 1; fire-0 --> 0
- Clean data
  - Drop *`original`* column
  - Drop entries with blank messages
  - Drop `#NAME?` messages
  - Drop duplicate messages
  - Recode *`related`* values > 1 to 1. Example: related=2 --> related=1; related=1 --> related=1
- Save data to sqlite database

**Notes:**
- *`child_only`* category contains only 0 values --> dataset does not contain any messages in labeled with this category